<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/semantic/semantic.min.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <title>Fabricant de meuble</title>
</head>
<body>
  <h1>Fabricant de meubles</h1>
    <nav>
        <ul>
            <li><a href="meubles">Liste des meubles</a></li>
            <li><a href="formMeuble">ajouter un meuble</a></li>
        </ul>
    </nav>
  